body {
    background: #ffcc99;
    font-size: 50px;
  }
  
  #outer {
    border: black solid 10px;
    max-width: 300px;
    margin: 0 auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: gray;
  }
  
  #display {
    font-size: 25px;
    margin-top: 20px;
    padding-right: 15px;
    min-height: 60px;
    background: #ffffcc;
    text-align: right;
    right: 5px;
    /* Hides numbers that break out of the display */
    overflow: hidden;
  }
  
  #clear {
    display: flex;
    gap: 10px;
  }
  
  #clear button {
    flex: 1;
    font-size: 30px;
  }
  
  #numpad {
    display: flex;
    flex-direction: column;
  }
  
  .number {
    display: flex;
    margin-bottom: 10px;
    gap: 10px;
  }
  
  .number button {
    flex: 1;
    height: 50px;
    font-size: 30px;
  }
